.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.App-link {
  color: #09d3ac;
}
.btncontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
form{
  max-width: 50%;
  margin: 30px auto;
}
form .required{
color:red;
}
form label{
  font-weight: bold
}
.checkbox label{
  font-weight: normal
}
h1{
  text-align:center;
}
.steps{
  text-align:center;
}
.error-message{
  color:red
}
.success-message{
  color: lightgreen;
  text-align: center;
  margin-bottom: 40px;
}
